<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <title>{% block title %}Lost Person Survival Forecasting{% endblock %}</title>

    <link rel='stylesheet' href='//fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>

    <script src='//code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
    <script src='//cdn.plot.ly/plotly-latest.min.js'></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
